:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.weight-form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: black;
  color: white;
  font-family: inherit;
}

button {
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}

.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  margin: 0.5rem;
  padding: 0.5rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14.5px;
  line-height: 1.6;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: white;
    color: black;
  }
  
  input {
    background-color: white;
    color: black;
  }
  
  button {
    background-color: rgb(101, 147, 104);
    color: white;
  }
}
